commands:
  SetPower:
    Power: boolean
  TogglePower:
  SetVolume:
    Volume: number
  ToggleMute:
  VolumeUp:
  VolumeDown:

states:
  - name: Power
    type: boolean
  - name: Volume
    type: number
    range: [26, 111]

modules:
  - AltecLansing.controller:
      i2c: 0
  - output:
      state: Power
  - api:
